{% comment %}
  Renders a breadcrumb navigation for the current page.

  Accepts:
  - product: {Object} Product Liquid object
  - divider: {String} Divider to use (optional)

  Usage:
  {% render 'breadcrumb', product: product %}
{% endcomment %}

{%- liquid
  if divider == null
    assign divider = '/'
  endif

  assign product_type = product.metafields.custom['product-type']
  assign product_format = product.metafields.custom['product-format']
  assign breadcrumb_link_type = '/collections/' | append: product_type | replace: ' ', '-'
  assign breadcrumb_link_format_type = '/collections/' | append: product_format | replace: ' ', '-' | append: product_type | replace: ' ', '-' | pluralize | downcase

  assign linkType = product_type | downcase | replace: ' ', '-'
%}

<script>
  console.log("adf:", {{ linkType | json }});
</script>

<nav aria-label="Breadcrumb">
  <ol role="list" class="flex items-center space-x-2">
    <li>
      <div class="flex items-center text-sm">
        <a href="{{ breadcrumb_link_type }}" class="font-medium text-gray-500 hover:text-gray-900">
          {{- product_type -}}
        </a>
        <svg
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          class="ml-2 h-5 w-5 flex-shrink-0 text-gray-300"
        >
          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
        </svg>
      </div>
    </li>
    <li>
      <div class="flex items-center text-sm">
        <a href="{{ breadcrumb_link_format_type }}" class="font-medium text-gray-500 hover:text-gray-900">
          {{- product_format }}
        </a>
      </div>
    </li>
  </ol>
</nav>
