<link rel='stylesheet' href='{{ 'swiper-bundle.min.css' | asset_url }}'>
{% assign product_collection = section.settings.product_collection %}
{% assign products = collections[product_collection].products %}

<script>
  console.log("section:", {{ section.settings.product_collection | json }});
</script>

{%- if products.size > 0 -%}
  <section class='swiper-product-list'>
    <h2>{{ section.settings.title }}</h2>
    <div
      class='swiper-container'
      data-slides-per-view-mobile='{{ section.settings.slides_per_view_mobile }}'
      data-slides-per-view-desktop='{{ section.settings.slides_per_view_desktop }}'
      data-space-between='{{ section.settings.space_between }}'
    >
      <div class='swiper-wrapper'>
        {%- for product in products -%}
          <script>
            console.log("product:", {{ product | json }});
          </script>
          <div class='swiper-slide'>
            <a href='{{ product.url }}' class='product-link'>
              <div class='product-image'>
                <img
                  src='{{ product.featured_image.src | img_url: '480x480' }}'
                  alt='{{ product.featured_image.alt }}'
                  loading='eager'
                  width='480'
                  height='480'
                >
              </div>
              <div class='product-title'>{{ product.title }}</div>
              <div class='product-price'>{{ product.price | money }}</div>
              {% if section.settings.show_sale_products and product.tags contains 'sale' %}
                <div class='product-sale'>Sale</div>
              {% endif %}
              {% if section.settings.show_new_products and product.tags contains 'new' %}
                <div class='product-new'>New</div>
              {% endif %}
            </a>
          </div>
        {%- endfor -%}
      </div>
      <div class='swiper-button-next'></div>
      <div class='swiper-button-prev'></div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      console.log('DOMContentLoaded');
      const swiper = new Swiper('.swiper-container', {
        slidesPerView: 'auto',
        spaceBetween: parseInt(document.querySelector('.swiper-container').dataset.spaceBetween),
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          768: {
            slidesPerView: parseInt(document.querySelector('.swiper-container').dataset.slidesPerViewDesktop),
          },
          0: {
            slidesPerView: parseInt(document.querySelector('.swiper-container').dataset.slidesPerViewMobile),
          },
        },
      });
    });
  </script>
{%- endif -%}
