{% assign product_collection = section.settings.product_collection %}
{% assign collection = collections[product_collection] %}
{% assign products = collection.products %}

{%- style -%}
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
{%- endstyle -%}

<script>
  console.log("collection:", {{ collection | json }});
  console.log("section:", {{ section.settings | json }});
</script>

{%- if products.size > 0 -%}
  <section class='swiper-product-list page-width'>
    <h2>{{ section.settings.title }}</h2>
    <div class='swiper {{ section.settings.product_collection }}-swiper hidden'>
      <div class='swiper-wrapper'>
        {%- for product in products -%}
          <script>
            console.log("product:", {{ product | json }});
          </script>
          <div class='swiper-slide'>
            <div class='product-image'>
              <img
                src='{{ product.featured_image.src | img_url: '640x640' }}'
                alt='{{ product.featured_image.alt }}'
                loading='eager'
                width='640'
                height='640'
              >
            </div>

            <div class='product-title'>
              <a href='{{ product.url }}' class='product-link'>{{ product.title }}</a>
            </div>

            <div class='product-price'>{{ product.price | money }}</div>
            {% if section.settings.show_sale_products and product.tags contains 'sale' %}
              <div class='product-sale'>Sale</div>
            {% endif %}
            {% if section.settings.show_new_products and product.tags contains 'new' %}
              <div class='product-new'>New</div>
            {% endif %}
          </div>
        {%- endfor -%}
      </div>
      <div class='swiper-scrollbar'></div>

      {% comment %}
        <div class='swiper-button-next'></div>
        <div class='swiper-button-prev'></div>
        <div class='swiper-pagination'></div>
      {% endcomment %}
    </div>
  </section>

  <script>
    window.addEventListener('load', function () {
      const swiperClass = '.{{ section.settings.product_collection }}-swiper';

      const swiper = new Swiper(swiperClass, {
        slidesPerView: 1,
        cssMode: true,
        grabCursor: true,
        freeMode: {
          enabled: true,
          sticky: true,
        },
        spaceBetween: '{{ section.settings.space_between }}px',
        breakpoints: {
          640: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 3
          },
          1024: {
            slidesPerView: {{ section.settings.slides_per_view_desktop }}
          },
        },
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });

      document.querySelector(swiperClass).classList.remove('hidden');
    });
  </script>
{%- endif -%}
