{% assign product_collection = section.settings.product_collection %}
{% assign products = collections[product_collection].products %}

{%- style -%}
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
{%- endstyle -%}

<script>
  console.log("section:", {{ section.settings | json }});
</script>

{%- if products.size > 0 -%}
  <section class='swiper-product-list'>
    <h2>{{ section.settings.title }}</h2>
    <div class='swiper'>
      <div class='swiper-wrapper'>
        {%- for product in products -%}
          <script>
            console.log("product:", {{ product | json }});
          </script>
          <div class='swiper-slide'>
            <a href='{{ product.url }}' class='product-link'>
              <div class='product-image'>
                <img
                  src='{{ product.featured_image.src | img_url: '640x640' }}'
                  alt='{{ product.featured_image.alt }}'
                  loading='eager'
                  width='640'
                  height='640'
                >
              </div>
              <div class='product-title'>{{ product.title }}</div>
              <div class='product-price'>{{ product.price | money }}</div>
              {% if section.settings.show_sale_products and product.tags contains 'sale' %}
                <div class='product-sale'>Sale</div>
              {% endif %}
              {% if section.settings.show_new_products and product.tags contains 'new' %}
                <div class='product-new'>New</div>
              {% endif %}
            </a>
          </div>
        {%- endfor -%}
      </div>
      <div class='swiper-pagination'></div>
      <div class='swiper-button-next'></div>
      <div class='swiper-button-prev'></div>
    </div>
  </section>

  <script>
    
    
    
    
    
    
    
    
    
    window.addEventListener('load', function () {
      console.log('section.settings:', {{ section.settings.slides_per_view_desktop }});

      console.log(`slidesPerView:`, {{ section.settings.slides_per_view_auto }});
      let slidesPerView = ({{ section.settings.slides_per_view_auto }} || {{ section.settings.slides_per_view_desktop }} === "")  ? 'auto' : {{ section.settings.slides_per_view_desktop }};

      if (slidesPerView === 'auto' && {{ section.settings.slides_per_view_desktop }}) {
        slidesPerView = 'auto';
      } else if (slidesPerView !== 'auto' && {{ section.settings.slides_per_view_desktop }}) {
        slidesPerView = {{ section.settings.slides_per_view_desktop }};
      }

      const swiper = new Swiper('.swiper', {
        slidesPerView: slidesPerView,
        spaceBetween: '{{ section.settings.space_between }}px',
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
          clickable: true,
        },
        grabCursor: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          640: {
            slidesPerView: {{ section.settings.slides_per_view_mobile }},
          },
          768: {
            slidesPerView: 3,
          },
          1024: {
            slidesPerView: slidesPerView,
          },
        },
      });
    });











  </script>
{%- endif -%}
